# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# build output logs
gradle_out*.txt
build_out*.txt
build_output*.txt
compile_out*.txt
errors*.txt
output*.txt
net/

# Files from Forge MDK
forge*changelog.txt
/run-server/
/run-data/
/src/generated/resources/.cache/
